# Supabase Project Settings -> API
SUPABASE_URL=https://rwganuciijqnuyvrakmi.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# Frontend React Vite URL. Local default is http://localhost:5173
FRONTEND_URL=http://localhost:5173

# Create a long random value, example: openssl rand -base64 32
JWT_SECRET=replace_this_with_a_long_random_secret
JWT_EXPIRES_IN=7d
